<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CommonLibraryDllLocation" value="G:\Development\standalone\Nancy Code Generator\SprocDataLayerGenerator\bin\Debug\CommonLibrary.dll"/>
    <add key="CurrentAppRunningExeLocation" value="G:\Development\standalone\Nancy Code Generator\TestSprocGenerator\bin\Debug\TestSprocGenerator.exe"/>
  </appSettings>
</configuration>